356<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AgCareers.EliteTalent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-AgCareers.EliteTalent-20141201112107;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="agcareersEntities" connectionString="metadata=res://*/Models.EliteTalentModel.csdl|res://*/Models.EliteTalentModel.ssdl|res://*/Models.EliteTalentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.220.54.56,1433;initial catalog=agcareers;persist security info=True;user id=agcareersDB;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="agcareersEntities" connectionString="metadata=res://*/Models.EliteTalent.csdl|res://*/Models.EliteTalent.ssdl|res://*/Models.EliteTalent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.220.54.56,1433;initial catalog=agcareers;persist security info=True;user id=agcareersDB;password=VL1nt3rat1v3ag!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgCareersConnectionString" connectionString="Data Source=216.220.54.56, 1433;Initial Catalog=AgCareers;Integrated Security=False;Persist Security Info=False;User ID=agcareersDB;Password=VL1nt3rat1v3ag!;MultipleActiveResultSets=True;Connect Timeout=520" providerName="System.Data.SqlClient" />-->
    <!--local-->
  <!--<add name="agcareersEntities" connectionString="metadata=res://*/Models.EliteTalent.csdl|res://*/Models.EliteTalent.ssdl|res://*/Models.EliteTalent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.24.62;initial catalog=dev.agcareers;persist security info=True;user id=agcareersDB;password=c0w$$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgCareersConnectionString" connectionString="Data Source=192.168.24.62;Initial Catalog=dev.agCareers;Integrated Security=False;Persist Security Info=False;User ID=agcareersDB;Password=c0w$$;MultipleActiveResultSets=True;Connect Timeout=520" providerName="System.Data.SqlClient" />-->

    <!--<add name="agcareersEntities" connectionString="metadata=res://*/Models.EliteTalent.csdl|res://*/Models.EliteTalent.ssdl|res://*/Models.EliteTalent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.20.55;initial catalog=dev.agcareers;persist security info=True;user id=agcareersDB;password=c0w$$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgCareersConnectionString" connectionString="Data Source=192.168.20.55;Initial Catalog=dev.agCareers;Integrated Security=False;Persist Security Info=False;User ID=agcareersDB;Password=c0w$$;MultipleActiveResultSets=True;Connect Timeout=520" providerName="System.Data.SqlClient" />-->


    <!--<add name="agcareersEntities" connectionString="metadata=res://*/Models.EliteTalent.csdl|res://*/Models.EliteTalent.ssdl|res://*/Models.EliteTalent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=agcareers;persist security info=True;user id=agcareersDB;password=VL1nt3rat1v3ag!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--staging-->
     <add name="agcareersEntities" connectionString="metadata=res://*/Models.EliteTalent.csdl|res://*/Models.EliteTalent.ssdl|res://*/Models.EliteTalent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.50.67;initial catalog=agcareers;persist security info=True;user id=agcareersDB;password=c0w$$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgCareersConnectionString" connectionString="Data Source=***;Initial Catalog=agcareers;Integrated Security=False;Persist Security Info=False;User ID=agcareersDB;password=****=True;Connect Timeout=120" providerName="System.Data.SqlClient" />
     <!--PRODUCTION-->
    <!--<add name="agcareersEntities" connectionString="metadata=res://*/Models.EliteTalent.csdl|res://*/Models.EliteTalent.ssdl|res://*/Models.EliteTalent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.50.173;initial catalog=agcareers;persist security info=True;user id=agcareersDB;password=c0w$$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgCareersConnectionString" connectionString="Data Source=192.168.50.173;Initial Catalog=agCareers;Integrated Security=False;Persist Security Info=False;User ID=agcareersDB;Password=c0w$$;MultipleActiveResultSets=True;Connect Timeout=520" providerName="System.Data.SqlClient" />-->


  </connectionStrings>
  <appSettings file="appSetting\appSetting.config">
    <add key="ReCaptcha.PrivateKey" value="6LdD2RAUAAAAAIAPV0-lgRUZxmHRvjXKBt1whooJ" />
    <add key="ReCaptcha.PublicKey" value="6LdD2RAUAAAAABUD_LV2efMamzVQ_5TTob7G0Lu4" />

    <add key="Test" value="2" />
    <add key="Host" value="mx1.venturelabour.com" />
    <add key="TestSubject" value="Test from Local " />
    <add key="Port" value="25" />
    <add key="UserName" value="rohit.singh@farms.com" />
    <add key="Password" value="P@ssw0rd2012" />
    <add key="EnableSSL" value="0" />
    <add key="UseDefaultCredentials" value="1" />
    <!--<add key="siteAdminEmail" value="apply@agcareers.com" />-->
    <add key="adminFrom" value="elitetalentnotifications@agcareers.com" />
    <add key="Directorypath" value="D:\uploads\attachments" />
    <add key="From" value="AgCareers.com – Job recommendation from" />
    <!--<add key="AgCareersAdmin" value="agcareers@agcareers.com"/>-->
    <!--<add key="AgCareersAdmin" value="elitetalent@agcareers.com" rohit.singh@farms.com/>-->
    <add key="AgCareersAdmin" value="jeevan.kedari@farms.com" />
    <add key="DevTeam" value="manish.bafna@farms.com" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RolesConfigKey" value="Admin" />
    <add key="UsersConfigKey" value="2,3" />
    <add key="AccountSid" value="AC821359af308e874d349069351db34ac6" />
    <add key="AuthToken" value="bfa5ffb46e7125ccd5babd1ca4935ce2" />
    <add key="SenderNo" value="+15154972445" />
    <add key="RunningLocal" value="true" />
    <add key="domainName" value="/elitetalent" />
    <add key="ServerFilePath" value="D:\Projects\AgCareers.EliteTalent\EliteTalent\AgCareers.EliteTalent\AgCareers.EliteTalent\Uplaods\Logos\" />
    <add key="RelativeFilePath" value="~/Uplaods/Logos/" />
    <add key="RecommendJobSubject" value="Elite Talent Job Suggestion" />
    <add key="RecommendJobMessage" value="##FullName## suggest that you may be interested in this Job opportunity posted for Elite Talent Community members and invites you to become a member of the ##website##" />
    <add key="MaxContentLength" value="5246730" />
    <add key="FreeConsultantDate" value="01-01-2016" />
    <add key="FreeConsultantPeriod" value="4" />
    <add key="ContentType" value="0" />
    <add key="consultant_accounttype" value="0" />
    <add key="Website" value="http://localhost:49331/elitetalent/" />
    <add key="AdminWebsite" value="http://dev.agcareers.farmsstaging.com" />
    <add key="expirationMinutes" value="120" />
    <add key="warningMinutes" value="119" />
    <add key="ConversationPeriod" value="60" />
    <add key="JobExpirationPeriod" value="60" />
    <add key="AutoApproval" value="2" />
    <add key="TestSMSAccount" value="2" />
    <add key="SalaryReportLimit" value="2" />
    <add key="FromEmail" value="elitetalent@agcareers.com" />
    <add key="domainPath" value="http://localhost:49331/elitetalent/" />
    <add key="SubdomainPath" value="~/" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error/InternalServerError">
      <error redirect="~/Error/BadRequest" statusCode="400" />
      <error redirect="~/Error/Unauthorized" statusCode="401" />
      <error redirect="~/Error/Forbidden" statusCode="403" />
      <error redirect="~/Error/PageNotFound" statusCode="404" />

      <error redirect="~/Error/InternalServerError" statusCode="500" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="1600" requestLengthDiskThreshold="2147483647" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="AgCareers.EliteTalent.Models.Repositories.MyRoleProvider,AgCareers.EliteTalent" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers>
  </system.web>
  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="index" />
      </files>
    </defaultDocument>
    <!--<httpErrors errorMode="Custom">
  
      <remove statusCode="400"/>
      <error statusCode="400" prefixLanguageFilePath="" path="~/Error/BadRequest" responseMode="ExecuteURL" />

      <remove statusCode="401"/>
      <error statusCode="401" prefixLanguageFilePath="" path="~/Error/Unauthorized" responseMode="ExecuteURL" />


      <remove statusCode="403"/>
      <error statusCode="403" prefixLanguageFilePath="" path="~/Error/Forbidden" responseMode="ExecuteURL" />

      <remove statusCode="404"/>
      <error statusCode="404" prefixLanguageFilePath="" path="~/Error/PageNotFound" responseMode="ExecuteURL" />


      <remove statusCode="500"/>
      <error statusCode="500" prefixLanguageFilePath="" path="~/Error/InternalServerError" responseMode="ExecuteURL" />


    </httpErrors>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <AgCareers.EliteTalent.Properties.Settings>
      <setting name="AgCareers_EliteTalent_com_agcareers_mstaging_Agcareers_servicesService" serializeAs="String">
        <value>http://mstaging.agcareers.com/webservice/agcareers_services.cfc</value>
      </setting>
    </AgCareers.EliteTalent.Properties.Settings>
  </applicationSettings>
</configuration>